[Desktop Entry]
Version=1.3
Encoding=UTF-8
Name=Camera Monitor Quiet
Exec=cameramonitor-quiet
Terminal=false
Icon=/usr/share/cameramonitor-quiet/work-hours-counter.png
Type=Application
Categories=Application;System;
